<% include partials/header %>
<div class="ui main new text container segment">
    <div class="ui huge header jobNumber"><strong>GLCT</strong></div>
    <div>
        <a class="centered teal" href="/tv_nhc">The Villages NHC</a>
    </div>
    <div>
        <a class="centered teal" href="#">Homes By Deltona</a>
    </div>
    <div>
        <a class="centered teal" href="#">Option 3</a>
    </div>
    <div>
        <a class="centered teal" href="#">Option 4</a>
    </div>
    <div>
        <a class="centered teal" href="#">Option 5</a>
    </div>
</div>

<% include partials/footer %>