<% include ../partials/header %>
<div class="ui main text new container segment">
    <div class="ui huge header jobNumber">Take Off - <%= est.jobNumber %> </div>
        <div class="ui top attached">
            <table class="ui definition table">
            <h4 class="ui horizontal teal divider header">Select Type</h4>
            <div class="center">
                <a href="/tv_nhc/<%= est._id %>/takeOff-floor" class="ui green basic button">Floor</a>
                <a class="ui blue basic button">Shower</a>
                <a class="ui pink basic button">Backsplash</a>
                <a class="ui yellow basic button">Other</a>
            </div>
            </table>
        </div>
      
</div>
<% include ../partials/footer %>